{% extends 'pages/base.html' %}
{% load static %}
{% block title%} About Us{% endblock %}
{% block content %}

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">About Us</span>
          <h1 class="text-capitalize mb-5 text-lg">About Us</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color">Embracing AI in Healthcare</h2>
			</div>
			<div class="col-lg-8">
				<p>DarajaCare is a pioneering telemedicine platform that bridges the gap between healthcare providers and patients. Our mission is to democratize access to quality healthcare, making it convenient and affordable for everyone.</p>
				<p>Through our innovative platform, you can consult with experienced doctors from the comfort of your home. Our user-friendly interface and secure technology ensure a seamless and confidential experience.</p>
				<p>In our pursuit of innovation, DarajaCare embraces the power of technology and artificial intelligence. We proudly introduce pioneering AI-powered tools that are set to revolutionize healthcare access. Among these innovations is our AI diagnostic tool, featuring cutting-edge voice and facial recognition capabilities. At DarajaCare, we leverage AI not just as a tool but as a catalyst for a more connected and efficient healthcare future.</p>
			</div>
		</div>
	</div>
</section>

<section class="fetaure-page ">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="{% static 'assets/images/about/about-1.jpeg' %}" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Healthcare for Kids</h4>
					<p>We understand that children require specialized care. Our pediatric telemedicine services provide comprehensive healthcare solutions tailored to the unique needs of children, ensuring their health and well-being in a comforting and supportive environment.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="{% static 'assets/images/about/about-2.png' %}" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Medical Counseling</h4>
					<p>DarajaCare offers expert medical counseling services to help patients navigate their health concerns with ease. Whether it’s managing chronic conditions, understanding diagnoses, or seeking mental health support, our qualified professionals are here to provide personalized guidance and care.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="{% static 'assets/images/about/about-3.jpeg' %}" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Modern Equipments</h4>
					<p>We leverage state-of-the-art technology and modern diagnostic tools to ensure accurate and efficient healthcare delivery. DarajaCare connects patients with advanced resources, enabling seamless virtual consultations and timely medical intervention.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item">
					<img src="{% static 'assets/images/about/about-4.jpeg' %}" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Qualified Doctors</h4>
					<p>Our team consists of experienced and highly qualified doctors who are committed to providing top-notch healthcare services. With specialists in various fields, you can trust that your health is in expert hands.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">What they say about us</h2>
					<div class="divider my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info">
						<h4>Amazing service!</h4>
						<span>Patrick Kimani</span>
					</div>
					<p>
						Using Darajacare was an incredibly seamless experience. I was able to consult a doctor online without leaving my home, and the advice I received was professional and reassuring. I highly recommend this service to anyone looking for convenient healthcare solutions.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Expert doctors!</h4>
						<span>Joseph Kibet</span>
					</div>
					<p>
						The doctors on Darajacare are highly knowledgeable and patient. They took the time to listen to my concerns and provided a clear and effective treatment plan. I felt truly cared for and supported throughout the consultation.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Good Support!</h4>
						<span>Mercy Nandu</span>
					</div>
					<p>
						I had some issues accessing my e-prescription, but the customer support team was quick to help me resolve it. Their prompt and friendly service made the process stress-free, and I’m grateful for their assistance.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Nice Environment!</h4>
						<span>Eric Wafula</span>
					</div>
					<p>
						Using Darajacare felt like stepping into a virtual clinic. The platform is easy to navigate, and the video consultations feel personal and professional. It’s a great alternative to physically visiting a hospital.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Modern Service!</h4>
						<span>Moses Wamai</span>
					</div>
					<p>
						Darajacare offers a modern approach to healthcare. I loved how quickly I could book an appointment, consult a doctor, and get my prescriptions delivered. This platform is revolutionizing how we access medical care!
					</p>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}