{% load static %}
<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>support@darajacare.com</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>6th Floor, Dunhill Towers, Westlands, Nairobi </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-md-right top-right-bar mt-2 mt-md-0">
						<a href="{% url 'user_auth:register' %}" class="text-white" >
							<i class="icofont-user-alt-4"></i> Register
						</a>
						<!-- Logout Link -->
						<a href="{% url 'user_auth:logout' %}" class="text-white ml-3">
							<i class="icofont-logout"></i> Logout
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
			<!-- <h2 class="navbar-brand text-dark" >DarajaCare</h2> -->
			<a href="{% url 'telemed_app:generate_qr_download' %}" download>Download QR Code</a>

		 	 <a class="navbar-brand" href="{% url 'telemed_app:home' %}">
			  	<!-- <img src="{% static 'assets/images/logo.jpeg' %}" alt="" class="img-fluid"> -->
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'telemed_app:home' %}">Home</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="{% url 'telemed_app:about' %}">About</a></li>
			    <li class="nav-item"><a class="nav-link" href="{% url 'telemed_app:services' %}">Services</a></li>

			    <!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'telemed_app:departments' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="{% url 'telemed_app:departments' %}">Departments</a></li>
						<li><a class="dropdown-item" href="{% url 'telemed_app:department' %}">Department Single</a></li>
					</ul>
			  	</li> -->

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'telemed_app:specialist' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Specialists <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<!-- <li><a class="dropdown-item" href="{% url 'telemed_app:specialist' %}">Doctors</a></li> -->
						<li><a class="dropdown-item" href="{% url 'telemed_app:doctor' %}">Find Your Doctor</a></li>
						<li><a class="dropdown-item" href="{% url 'telemed_app:all_appointments' %}">Your Appointments</a></li>
					</ul>
			  	</li>

			   <!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
						<li><a class="dropdown-item" href="blog-sidebar.html">Blog with Sidebar</a></li>

						<li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
					</ul>
			  	</li> -->
			   <li class="nav-item"><a class="nav-link" href="{% url 'telemed_app:contact' %}">Contact</a></li>
			</ul>
		  </div>
		</div>
	</nav>
</header>
	